<!-- <h1>Dashboard</h1> -->

<ul id="dasboard_options">
<!-- 	<li>
		<div>
			<span>
				Usuarios
			</span>
			<%= link_to "", users_path %>
		</div>
	</li> -->
	<li>
		<div>
			<span>
				Casos
			</span>
			<%= link_to "", system_cases_path %>
		</div>
	</li>
	<li>
		<div>
			<span>
				Expedientes Activos
			</span>
			<%= link_to " ", human_records_path %>
		</div>
	</li>
	<li>
		<div>
			<span>
				Estadisticas
			</span>
			<%= link_to " ", view_reports_path %>
		</div>
	</li>
	<div class="clear"></div>
</ul>