<div class="container_chart">

<table>
	<tr>
		<td>Edad</td><td>Total</td>
		<% categories = []%>
		<% items_age = []%>
        <% state_problem =[]%>
		<% @data.each do |item| %>
			<%categories.push(item.label) %>
			<%items_age.push(item.total)%>
             <% state_problem.push(item.label2)%>
				<%#= item.label.to_s%>
				<!-- <td><%#= item.label2.to_s%></td> -->
				<%#= item.total.to_s%>
		<% end %>
		<hr>
	</tr>
</table>

<%#= categories%>
<%#= items_age%>
<%#= state_problem%>
<div class="clear"></div>


<div id="container_grafics" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
var item_categories = [];
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container_grafics',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: '<%= @title%>',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
            	title: {
            		text: 'Años'
            	},
                categories: "<%= categories%>"
                // categories: function(){
                // 	for (var i = 0; i > 100; i++) {
                // 		item_categories.push[i]
                // 	};
                	
                // }
            },
            yAxis: {
                title: {
                    text: 'Cantidad'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.x +" Personas";
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: '<%= state_problem[0]%>',
                data: <%= items_age%>
            }]
        });
    });
    
});
console.log(item_categories)
</script>
</div>